<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/plugins/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1><%= username %> - Plugins</h1>
            <p>Select what Plugins you want to enable.</p>
            <form id="plugins-form" method="POST" action="/plugins">
                <h4>Moderation:</h4>
                <label for="ban">Ban:</label>
                <select id="ban" name="ban">
                  <option id="ban-true" value="true">Enabled</option>
                  <option id="ban-false" value="false">Disabled</option>
                </select>
                <label for="kick">Kick:</label>
                <select id="kick" name="kick">
                  <option id="kick-true" value="true">Enabled</option>
                  <option id="kick-false" value="false">Disabled</option>
                </select>
                <label for="clear">Clear:</label>
                <select id="clear" name="clear">
                  <option id="clear-true" value="true">Enabled</option>
                  <option id="clear-false" value="false">Disabled</option>
                </select>
                <h4>Utilities:</h4>
                <label for="userinfo">User Info:</label>
                <select id="userinfo" name="userinfo">
                  <option id="userinfo-true" value="true">Enabled</option>
                  <option id="userinfo-false" value="false">Disabled</option>
                </select>
                <label for="serverinfo">Server Info:</label>
                <select id="serverinfo" name="serverinfo">
                  <option id="serverinfo-true" value="true">Enabled</option>
                  <option id="serverinfo-false" value="false">Disabled</option>
                </select>
                <label for="stats">Stats:</label>
                <select id="stats" name="stats">
                  <option id="stats-true" value="true">Enabled</option>
                  <option id="stats-false" value="false">Disabled</option>
                </select>
                <label for="help">Help:</label>
                <select id="help" name="help">
                  <option id="help-true" value="true">Enabled</option>
                  <option id="help-false" value="false">Disabled</option>
                </select>
                <h4>Fun:</h4>
                <label for="coin">Coin Flip:</label>
                <select id="coin" name="coin">
                  <option id="coin-true" value="true">Enabled</option>
                  <option id="coin-false" value="false">Disabled</option>
                </select>
                <label for="dog">Dog:</label>
                <select id="dog" name="dog">
                  <option id="dog-true" value="true">Enabled</option>
                  <option id="dog-false" value="false">Disabled</option>
                </select>
                <label for="cat">Cat:</label>
                <select id="cat" name="cat">
                  <option id="cat-true" value="true">Enabled</option>
                  <option id="cat-false" value="false">Disabled</option>
                </select>
                <label for="ball">8-Ball:</label>
                <select id="ball" name="ball">
                  <option id="ball-true" value="true">Enabled</option>
                  <option id="ball-false" value="false">Disabled</option>
                </select>
                <label for="roll">Roll:</label>
                <select id="roll" name="roll">
                  <option id="roll-true" value="true">Enabled</option>
                  <option id="roll-false" value="false">Disabled</option>
                </select>
              </br>
                </br>
                <input type="submit" value="Save">
              </form>
            </br>
            <h2>Commands List</h2>
            <h4>Moderation:</h4>
            <ul>
                <li><strong>Ban</strong> - Bans a user from the server. <strong>Usage: </strong><%= config.prefix %>ban @user</li>
                <li><strong>Kick</strong> - Kicks a user from the server. <strong>Usage: </strong><%= config.prefix %>kick @user</li>
                <li><strong>Clear</strong> - Clears messages from a channel. <strong>Usage: </strong><%= config.prefix %>clear 5</li>
            </ul>
            <h4>Utilities:</h4>
            <ul>
                <li><strong>User Info</strong> - Sends information about a given user. <strong>Usage: </strong><%= config.prefix %>user-info @user</li>
                <li><strong>Server Info</strong> - Sends information about the current server. <strong>Usage: </strong><%= config.prefix %>server-info</li>
                <li><strong>Stats</strong> - Statistics of the BOT. <strong>Usage: </strong><%= config.prefix %>stats</li>
                <li><strong>Help</strong> - Sends a list for all plugins / commands enabled. <strong>Usage: </strong><%= config.prefix %>help</li>
            </ul>
            <h4>Fun:</h4>
            <ul>
                <li><strong>Coin Flip</strong> - Flip a coin (heads / tails). <strong>Usage: </strong><%= config.prefix %>coin</li>
                <li><strong>Dog</strong> - Sends a random image of a dog. <strong>Usage: </strong><%= config.prefix %>dog</li>
                <li><strong>Cat</strong> - Sends a random image of a cat. <strong>Usage: </strong><%= config.prefix %>cat</li>
                <li><strong>8-Ball</strong> - Ask the 8-ball a question. <strong>Usage: </strong><%= config.prefix %>8-ball</li>
                <li><strong>Roll</strong> - Roles a dice (6-Sided). <strong>Usage: </strong><%= config.prefix %>roll</li>
            </ul>
        </div>
    </main>
    <script>
        function sel() {
        document.getElementById("help-"+<%= plugins.help %>).selected = "true";
        document.getElementById("serverinfo-"+<%= plugins.info %>).selected = "true";
        document.getElementById("userinfo-"+<%= plugins.userinfo %>).selected = "true";
        }
        sel()
        </script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>