<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/index/head'); %>
    <style>
        .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
          display: <%= update %>;
        }
        
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .closebtn:hover {
          color: black;
        }
        </style>
</head>
<body class="container">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Update!</strong> An update is avaliable please download the latest version!
      </div>
    <header>
        <%- include('../partials/index/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1><%= username %> - Dashboard</h1>
            <p>Welcome to Discord BOT Dashboard v1.0, report any issues to @PapaSnags</p>
            <ul>
                <% info.forEach(function(info) { %>
                    <li>
                        <strong><%= info.name %></strong>
                        - <%= info.desc %>
                    </li>
                <% }); %>
            </ul>
            <img src=<%= av %>>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>